{% extends 'base.html.twig' %}

{% block title %}Dashboad!
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Dashboad</h1>

		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between align-items-center">Nombre d'utilsiateurs:
				<span class="badge badge-primary badge-pill">{{users}}</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">Nombre de clients:
				<span class="badge badge-primary badge-pill">{{customers}}</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">Nombre de factures:
				<span class="badge badge-primary badge-pill">{{invoices}}</span>
			</li>
		</ul>
	</div>
{% endblock %}
